In [1]:
import pandas as pd

## IMPORTANTE
#### Parece que todos los ficheros del INE vienen codificados como "latin-1" y no "utf-8"
#### Hay que especificarlo en la carga de datos con encoding="latin-1"

Cargo 2 dataframes diferentes porque:

* 1 contiene la serie donde NDias = Ocasionalmente
* 2 contiene la serie donde NDias = Más de la mitad de los días que trabajó

In [72]:
df1=pd.read_csv ("./teletrabajo.csv", delimiter=";", encoding="latin-1")
df2=pd.read_csv ("./teletrabajo.csv", delimiter=";", encoding="latin-1")

Renombro las columnas porque hay una con un nombre larguísimo.

In [73]:
df1.columns=["Sexo", "Edad", "Dias Teletrabajados", "Unidad",
       "Periodo", "NDias"]
df2.columns=["Sexo", "Edad", "Dias Teletrabajados", "Unidad",
       "Periodo", "NDias"]

Elimino la columna "Unidad" que no aporta valor

In [74]:
df1 = df1.drop("Unidad", 1)
df2 = df2.drop("Unidad", 1)

/var/folders/7n/gt_137113dx9w69zq9y79s5w0000gn/T/ipykernel_71149/2774064714.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df1 = df1.drop("Unidad", 1)
/var/folders/7n/gt_137113dx9w69zq9y79s5w0000gn/T/ipykernel_71149/2774064714.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df2 = df2.drop("Unidad", 1)

En el csv hay filas para "Ambos sexos" pero también para "Hombres" y para "Mujeres". Me quedo con los totales

In [66]:
df1=df1.drop(df1[df1["Sexo"]!="Ambos sexos"].index)
df2=df2.drop(df2[df2["Sexo"]!="Ambos sexos"].index)

Lo mismo pasa con los rangos de edad. Me quedo con los totales

In [75]:
df1=df1.drop(df1[df1["Edad"]!="Total"].index)
df2=df2.drop(df2[df2["Edad"]!="Total"].index)

Y también con los días teletrabajados. Me quedo para cada dataframe, con los que nos interesan.

In [68]:
df1=df1.drop(df1[df1["Dias Teletrabajados"]!="Ocasionalmente"].index)
df2=df2.drop(df2[df2["Dias Teletrabajados"]!="Más de la mitad de los días que trabajó"].index)

In [69]:
df1

           Sexo   Edad Dias Teletrabajados  Periodo  NDias
0   Ambos sexos  Total      Ocasionalmente     2020  797,0
1   Ambos sexos  Total      Ocasionalmente     2019  688,7
2   Ambos sexos  Total      Ocasionalmente     2018  621,8
3   Ambos sexos  Total      Ocasionalmente     2017  563,8
4   Ambos sexos  Total      Ocasionalmente     2016  531,2
5   Ambos sexos  Total      Ocasionalmente     2015  510,0
6   Ambos sexos  Total      Ocasionalmente     2014  447,7
7   Ambos sexos  Total      Ocasionalmente     2013  546,2
8   Ambos sexos  Total      Ocasionalmente     2012  492,1
9   Ambos sexos  Total      Ocasionalmente     2011  491,8
10  Ambos sexos  Total      Ocasionalmente     2010  458,4
11  Ambos sexos  Total      Ocasionalmente     2009  488,6
12  Ambos sexos  Total      Ocasionalmente     2008  498,1
13  Ambos sexos  Total      Ocasionalmente     2007  512,6
14  Ambos sexos  Total      Ocasionalmente     2006  439,3

In [70]:
df2

,Sexo,Edad,Dias Teletrabajados,Periodo,NDias
15,Ambos sexos,Total,Más de la mitad de los días que trabajó,2020,"2.081,3"
16,Ambos sexos,Total,Más de la mitad de los días que trabajó,2019,"951,8"
17,Ambos sexos,Total,Más de la mitad de los días que trabajó,2018,"823,6"
18,Ambos sexos,Total,Más de la mitad de los días que trabajó,2017,"806,5"
19,Ambos sexos,Total,Más de la mitad de los días que trabajó,2016,"643,6"
20,Ambos sexos,Total,Más de la mitad de los días que trabajó,2015,"642,2"
21,Ambos sexos,Total,Más de la mitad de los días que trabajó,2014,"737,5"
22,Ambos sexos,Total,Más de la mitad de los días que trabajó,2013,"734,8"
23,Ambos sexos,Total,Más de la mitad de los días que trabajó,2012,"786,2"
24,Ambos sexos,Total,Más de la mitad de los días que trabajó,2011,"742,8"
25,Ambos sexos,Total,Más de la mitad de los días que trabajó,2010,"707,1"
26,Ambos sexos,Total,Más de la mitad de los días que trabajó,2009,"637,6"
27,Ambos sexos,Total,Más de la mitad de los días que trabajó,2008,"638,4"
28,Ambos sexos,Total,Más de la mitad de los días que trabajó,2007,"560,8"
29,Ambos sexos,Total,Más de la mitad de los días que trabajó,2006,"600,6"