In [1]:
import numpy as np
import os
import pandas as pd
import glob

import matplotlib.pyplot as plt

import matplotlib.dates as mdates 
from matplotlib.dates import MonthLocator, DateFormatter, YearLocator 

%matplotlib inline

In [43]:
# use glob to get all the csv files 
# in the folder
path = "DATASETS/pasajeros"
csv_files = glob.glob(os.path.join(path, "*.csv"))

# defining an empty list to store 
# content
data_frame_pasajeros = pd.DataFrame()
content = []

nRowsRead = None
  
# checking all the csv files in the 
# specified path
for filename in csv_files:
    
    # reading content of csv file
    # content.append(filename)
    df = pd.read_csv(filename, delimiter=";", encoding= 'ISO-8859-1', nrows = nRowsRead,index_col=None)
    content.append(df)
  
# converting content to data frame
data_frame_pasajeros = pd.concat(content)
print(data_frame_pasajeros)

                 ï»¿"AEROPUERTOS"  Unnamed: 1       Total
0                             NaN         NaN         NaN
1   ADOLFO SUÃREZ MADRID-BARAJAS         NaN  17.112.389
2          BARCELONA-EL PRAT J.T.         NaN  12.739.259
3               PALMA DE MALLORCA         NaN   6.108.486
4            MALAGA-COSTA DEL SOL         NaN   5.161.636
..                            ...         ...         ...
45                        CORDOBA         NaN       2.254
46          MADRID-CUATRO VIENTOS         NaN       1.764
47                       ALBACETE         NaN       1.026
48                HUESCA-PIRINEOS         NaN       1.017
49         MURCIA-SAN JAVIER  (*)         NaN           0

[149 rows x 3 columns]

In [36]:
nRow, nCol = data_frame_pasajeros.shape
print(f'Hay {nRow} filas y {nCol} columnas')

Hay 149 filas y 3 columnas

In [37]:
print('Tipos de datos de las columnas:\n', data_frame_pasajeros.dtypes)
print ('Número de datos que contiene:\n', data_frame_pasajeros.size)

Tipos de datos de las columnas:
 ï»¿"AEROPUERTOS"     object
Unnamed: 1          float64
Total                object
dtype: object
Número de datos que contiene:
 447

In [31]:
data_frame_pasajeros.sample(6)

               ï»¿"AEROPUERTOS"  Unnamed: 1      Total
33                     PAMPLONA         NaN     76.632
46                    SON BONET         NaN      4.122
25           GIRONA-COSTA BRAVA         NaN    226.191
24         JEREZ DE LA FRONTERA         NaN    216.319
16  SANTIAGO-ROSALÃA DE CASTRO         NaN    935.394
11                      SEVILLA         NaN  2.024.980

In [32]:
#Buscamos nulls y los contabilizamos. 
data_frame_pasajeros.isnull().sum()

ï»¿"AEROPUERTOS"      3
Unnamed: 1          149
Total                 3
dtype: int64

In [44]:
data_frame_pasajeros.drop('Unnamed: 1', axis=1, inplace=True)

data_frame_pasajeros.dropna(how='any',axis=0, inplace= True)

In [45]:
nRow, nCol = data_frame_pasajeros.shape
print(f'Hay {nRow} filas y {nCol} columnas')

Hay 146 filas y 2 columnas

In [46]:
data_frame_pasajeros = data_frame_pasajeros.rename (columns = {'ï»¿"AEROPUERTOS"':'AEROPUERTO','Total' : 'TOTAL PASAJEROS'})